@import 'tailwindcss';

/* Use dark mode manually (not respect prefers-color-scheme) */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    /* Anime1 primary color */
    --primary: hsl(114, 48%, 61%);
    --secondary: hsl(114, 48%, 81%);

    --background: white;
    --text: #1a1a1a;
    --border: #eaeaea;
    --muted: #f4f4f5;
    --muted-text: #71717a;

    --text-white: #f5f5f5;
  }

  .dark {
    --primary: hsl(330, 61%, 50%);
    --secondary: hsl(330, 61%, 30%);

    --background: #09090b;
    --text: #f5f5f5;
    --border: #282828;
    --muted: #27272a;
    --muted-text: #a1a1aa;
  }

  * {
    border-color: var(--border);
  }
  button {
    cursor: pointer;
  }

  /* Custom scrollbar styling */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--background);
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 8px;
    border: 2px solid var(--border);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) var(--background);
  }
}
